@page "/streaming-chat"
@inherits StreamingChatPageBase

@if (!IsApiConnected)
{
    <div class="alert alert-danger">
        Backend API is not connected
    </div>
}
else
{
    <h3>Streaming Chat</h3>

    @if (IsChatting)
    {
        <div>
            <label><strong>Username</strong>: @Username | <strong>Connection ID:</strong> @UserSession?.ConnectionId | <strong>Started:</strong> @UserSession?.StartTime </label>
            <button class="btn btn-danger btn-sm float-end" @onclick="async () => await DisconnectAsync()">Disconnect</button>
        </div>
    }
    else
    {
        <label>Please enter your username to start:</label>
        <div class="col-sm-4">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter username" @bind="Username" />
                <button class="btn btn-success btn-sm" @onclick="async () => await StartAsync()">Enter Chat</button>
            </div>
        </div>

        @if (!string.IsNullOrWhiteSpace(UserSession?.Username))
        {
            <br />
            <label>Or you can reconnect your last session with user: <strong>@UserSession.Username</strong></label>
            <button class="btn btn-success btn-sm" @onclick="async () => await ReconnectAsync()">Reconnect</button>
        }
    }

    @*<hr />
        @if (ResponseText is not null)
        {
            <p><strong>New Message:</strong> @ResponseText</p>
        }
        else
        {
            <p>Waiting for messages...</p>
        }

        <button @onclick="SendAsync" disabled="@IsStreaming">Send Streaming</button>
        <button @onclick="Stop" disabled="@(!IsStreaming)">Stop Streaming</button>
        <div class="input-group">
            <textarea class="form-control" rows="4" style="resize:none" placeholder="Enter you message" @bind="@NewMessage"></textarea>
            <button class="btn btn-sm btn-success" @onclick="async () => await SendAsync()"><span class="oi oi-location"></span> Send<br />Message</button>
        </div>
        <hr />*@

    <div class="content px-4">
        @if (IsChatting)
        {
            <div id="scrollbox">
                <hr />
                @if (ChatLogs.Count == 0)
                {
                    <div class="alert alert-success">
                        <div class="text-center">
                            Start your chat by entering your message below, then hit "Send Message"
                        </div>
                    </div>
                }
                else
                {
                    @foreach (var item in ChatLogs)
                    {
                        <div class="@ChatHelper.GetChatCss(item.Value)">
                            <div class="user">@ChatHelper.GetUsername(item.Value)</div>
                            <div class="markdown-content">@ChatHelper.GetMessageText(item.Value)</div>
                            <font size="1">@ChatHelper.GetChatFooter(item)</font>
                        </div>
                    }
                }
                <hr />
                @if (ChatLogs.Count > 0)
                {
                    <div class="alert alert-secondary">
                        <button class="btn btn-sm btn-outline-danger" @onclick="() => ClearChat()">Clear Chat</button>
                    </div>
                }
                <div class="input-group">
                    <textarea class="form-control" rows="4" style="resize:none" placeholder="Enter you message" readonly="@(!IsStreamingCompleted)" @bind="@NewMessage"></textarea>
                    <button class="btn btn-sm btn-outline-success" disabled="@(!IsStreamingCompleted)" @onclick="async () => await SendAsync()">Send<br />Message</button>
                    <button class="btn btn-sm btn-outline-danger" disabled="@IsStreamingCompleted" @onclick="() => StopStreaming()">Stop<br />Streaming</button>
                </div>
            </div>
        }
    </div>
    <br />
    <br />
}
